@import "fonts";

$font__main                  : 'Roboto', sans-serif;
$font__header                : 'Abel', sans-serif;
$font__italic                : 'Merriweather', serif;
$font__pre                   : Monaco, Consolas, monospace;
$font__line-height-body      : 1.58;
$font__line-height-pre       : 1.6;
$font__weight-body           : 300;
$font__weight-strong         : 500;
$font__weight-bq             : 400;

$size__site-main             : 100%;
$size__site-sidebar          : 25%;
$size__box                   : 1240px;
$size__box-inner             : 1024px;
$size__tablet                : 768px;

$color__main                 : #00b4a4;
$color__main-dark            : #40263b;
$color__bg                   : #FBFCFC;
$color__bg-light             : #F2F4F4;

$color__text-title           : rgba(0,0,0,.9);
$color__text-body            : rgba(0,0,0,.84);
$color__text-block           : rgba(0,0,0,.6);
$color__text-hl              : $color__bg;
$color__link                 : $color__text-body;
$color__link-hl              : $color__main;
$color__text-screen          : $color__text-hl;

$color__background-body      : $color__bg;
$color__background-section   : white;
$color__background-button    : $color__main-dark;
$color__background-button-hl : transparent;
$color__background-footer    : $color__bg;
$color__background-menu      : $color__bg-light;
$color__background-pre       : $color__bg-light;
$color__background-ins       : $color__bg-light;
$color__background-hr        : $color__bg-light;
$color__background-input     : $color__bg-light;
$color__background-screen    : $color__main;

$color__border-button        : $color__main;
$color__border-button-hl     : $color__main-dark;
$color__border-field         : rgba(0,0,0,.2);

$color__border-abbr          : $color__main;