$blocks-button__height: 56px;

.wp-block-button {
	color: $color__text-hl;
	margin-bottom: 1.5em;

	&.aligncenter {
		text-align: center;
	}

	&.alignright {
		/*rtl:ignore*/
		text-align: right;
	}
}

button,
.button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.entry-content .wp-block-button__link,
.wp-block-button__link {
	background-color: $color__main;
	border: none;
	border-radius: $blocks-button__height / 1.5;
	box-shadow: none;
	color: $color__text-hl;
	cursor: pointer;
	display: inline-block;
	@include font-size(1.25);
	font-family: $font__header;
	margin: 0;
	padding: 12px 24px;
	text-align: center;
	text-decoration: none;
	white-space: normal;
	overflow-wrap: break-word;

	&:hover,
	&:focus,
	&:active {
		color: inherit;
		transition: all ease-in-out 0.25s;
		transform: translate(0, 1px);
	}

	@media screen and (max-width: $size__tablet) {

		width: 100%;
		margin: 0.5rem 0;

	}
}

.is-style-squared .wp-block-button__link {
	border-radius: 0;
}

.is-style-outline {
	color: $color__border-button;

	.wp-block-button__link {
		background: transparent;
		border: 2px solid currentcolor;
	}
}

.button-content {
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}