input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="number"],
input[type="tel"],
input[type="submit"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: $color__text-body;
	padding: 3px;
	border-radius: 5px;
	border: 1px solid $color__border-field;

	&:focus {
		color: $color__link-hl;
	}

	&:last-child,
	&:last-of-type {
		margin-bottom: 1rem;
	}
}

.search-form {
	background-color: $color__bg-light;
	padding: 2rem;
	display: flex;
	align-items: center;
	justify-content: center;

	& > label {
		width: 100%;
	}

	input[type="search"] {
		@include font-size(1.5);
		width: 100%;
		color: $color__text-title;
		border: 0;
		background-color: transparent;
		text-align: left;
		-webkit-appearance: none;
		padding-right: 1rem;
		margin-right: 1rem;

		&:last-child,
		&:last-of-type {
			margin-bottom: 0;
		}

		&:focus,
		&:hover {
			color: $color__link-hl;
			outline: none;
		}
	}

	input[type="submit"] {
		color: $color__text-title;
		padding: 0;
		border: 0;
		border-radius: 0;
		margin-bottom: 0;
		background-color: transparent;
		font-family: "Font Awesome 5";

		&:focus,
		&:hover {
			color: $color__link-hl;
			outline: none;
		}

		@media screen and (max-width: $size__tablet) {

			width: initial;

		}
	}

}

select {

}

textarea {
	width: 100%;
}
.tix_tickets_table.tix-attendee-form,
.gform_wrapper {
	background-color: $color__background-input;
	padding: 2rem 3rem;
}

.gfield,
.gfield_checkbox {
	list-style: none;
	margin: 0;
	font-weight: 300;

	input {
		border: 1px solid $color__text-hl;
		border-radius: 2px;
	}
	& > li {
		margin: 0;
	}
}
.gform_fields {
	margin: 0;
	font-weight: 500;
}
select,
.gfield_select,
.tix-column-quantity select {
	height: 33px;
	background-color: white;
	border: 1px solid $color__text-hl;
	border-radius: 2px;
}
body .gform_wrapper ul li.gfield:not(:first-child),
.gform_wrapper ul.gform_fields li.gfield:not(:first-child) {
	margin: 2rem 0;
}
/* botones acción alineación derecha */
.gform_wrapper .gform_footer,
.gform_wrapper .gform_page_footer {
	text-align: right;

	.button,
	button {
		background-color: $color__background-button;
		border: 2px solid $color__border-button;
	}
}
/* anchura textarea */
@media only screen and (min-width: 641px) {
	.gform_wrapper textarea.medium {
		width: calc(50% - 8px);
	}
}
/* Estilo etiqueta opcional */
.gfield_optional {
	font-weight: lighter;
	font-style: italic;
	color: #999;
	font-size: 0.85em;
	margin-left: 0.5rem
}
.gform_wrapper label.gfield_label {
	font-weight: 500;
}
/* Consentimiento */
p.rgpd-banner {
	@include font-size(0.6);
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
	border: 0;
	-webkit-text-fill-color: $color__main;
	-webkit-box-shadow: 0 0 0px 1000px transparent inset;
	transition: background-color 5000s ease-in-out 0s;
}