$hero-height: 180px;

.site-header {
  height: $hero-height;
  width: $size__site-main;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;

  @media screen and (max-width: $size__tablet) {
    height: $hero-height + 20px;
  }

}

.home .site-header {
  height: $hero-height - 100px;
}

.top-bar {
  width: $size__site-main;
  height: 80px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.site-title {
  display: flex;
  align-items: center;
}

.hero {
  width: $size__site-main;
  height: $hero-height - 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 2rem 0;
}

.home .hero {
  display: none;
}